@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-black
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headings font-bold text-center;
  } 


  p {
    @apply font-headings font-light;
  }
  button {
    @apply font-headings rounded hover:opacity-80 hover:cursor-pointer br_shadow-button py-2 px-4;
  }
}

@layer utilities {
  .heading {
    @apply text-4xl md:text-5xl;
  }

  .br_shadow-button {
    --tw-shadow: 0 27px 15px -30px rgba(0, 0, 0, .3), 0px 11px 9px -10px rgba(0, 0, 0, .5);
    --tw-shadow-colored: 0 27px 15px -30px var(--tw-shadow-color), 0px 11px 9px -10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
 
}

